@model Category
@{
    ViewBag.title = "Create a new Category";
    ViewBag.ButtonText = "Add";
}
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <partial name="Partials/_CategoryFormPartial" model="Model" />

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"   />
    }
}