@model Category
@{
    ViewBag.title = "Edit Category";
    ViewBag.ButtonText = "Save";
}
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <partial name="Partials/_CategoryFormPartial" model="Model" />

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
